<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>www.jovianesruby.com</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light navbar-light px-3 fixed-top">
      <div class="container">
        <a href="/homePage" class="navbar-brand h3">JOVIANESRUBY</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse "
          id="navmenu"
        >
          <ul class="navbar-nav m-sm-auto smooth-scroll">
            <li class="nav-item">
              <a href="/" class="nav-link active">Home</a>
            </li>
            <li class="nav-item text-white-50">
              <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#events" class="nav-link">Events</a>
            </li>
            </li>
           </div>
          </ul>
          <a
            class="btn btn-outline-dark btn-md m-2 text-black-100"
            href="/users/login"
            role="button"
            rel="nofollow"
            target="_blank"
            >Login</a>
            <a
            class="btn btn-primary btn-md m-2 text-light"
            href="/users/register"
            role="button"
            rel="nofollow"
            target="_blank"
            >Sign-up</a>
        </div>
      </div>
    </nav>

    <!--Hero-->
    <section class="text-light p5 text-center text-sm-start">
      <div id="section" class="bg-image shadow-2-strong">
        <div class="mask">
          <div
            class="container d-flex align-items-center justify-content-center text-center h-100"
          >
            <div class="text-white">
              <h1 class="mb-3">The Easiest Online Event Booking System</h1>
              <h5 class="mb-4">
                Easily create, promote and sell tickets to your events of every
                type and size.
              </h5>
              <a
                class="btn btn-outline-light btn-lg m-2"
                href=""
                role="button"
                rel="nofollow"
                target="_blank"
                >Read more</a
              >
              <a
                class="btn btn-outline-light btn-lg m-2"
                href="/users/login"
                target="_blank"
                role="button"
                >Book Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--About-->
    <section id="about" class="p-5">
      <div class="container">
        <h2 class="text-center align-items-center">About us</h2>
        <div
          class="row align-items-center justify-content-between d-flex flex-row"
        >
          <div class="col-md-6">
            <img
              src="./images/img3.jpg"
              alt="about"
              class="image-fluid overflow-hidden"
              id="image1"
            />
          </div>
          <div class="col-md p-5">
            <h2 class="text-primary">Who we are</h2>
            <p class="lead">Helping people do what they love</p>
            <p>
              The company itself is a very successful company.
              As a result of the needs of this pain, they are easy to bear
              will it happen We follow the lead of the body with desire, and it is born
              therefore no one, for any reason, is bound to have been said.

            </p>
          </div>
        </div>
      </div>
    </section>

    <!---->
    <section class="p-5 mt-2">
      <h1 class="text-center mt-3 " id="events">Our Events</h1>
      <div class="container">
        <div class="row text-center">
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <img
                  src="./images/img8.jpg"
                  alt=""
                  class="image-fluid w-100"
                />
                <h3 class="card-title mb-3">Weddings</h3>
                <p class="card-text">
                  Your wedding colors are the anchor for your big-day décor. Inspired by your personal preferences and your event's seasonality and location, the wedding color palette you settle on will help drive the visual components of your day and ensure everything looks on-theme and cohesive—which is why selecting your colors should be one of the first décor-related decisions you make. After all, understanding your color vision will make floral, linen, and rental decisions significantly easier.

                </p>
                <a href="#" class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <img
                  src="./images/img1.jpg"
                  alt=""
                  class="image-fluid w-100"
                />
                <h3 class="card-title mb-3">Birthdays</h3>
                <p class="card-text">
                 Another trip around the sun is something to celebrate. We have over 50 birthday party themes guaranteed to make the guest of honor happy. From kids, teens and tweens, to grown-up birthday party ideas, this site offers something for everyone!
                </p>
                <a href="#" class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <img
                  src="./images/img1.jpg"
                  alt=""
                  class="image-fluid w-100"
                />
                <h3 class="card-title mb-3">Baby Showers</h3>
                <p class="card-text">
                 Another trip around the sun is something to celebrate. We have over 50 birthday party themes guaranteed to make the guest of honor happy. From kids, teens and tweens, to grown-up birthday party ideas, this site offers something for everyone!
                </p>
                <a href="#" class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-light text-dark">
              <div class="card-body text-center">
                <img
                  src="./images/img2.jpg"
                  alt=""
                  class="image-fluid w-100"
                />
                <h3 class="card-title mb-3">Conferences</h3>
                <p class="card-text">
                Keeping conferences fresh and unexpected is increasingly essential and increasingly challenging. No matter the conference purpose you’re always looking for new ways to spark interest and give attendees good reasons to return year after year. 

We’ve got many engaging ideas for you to explore. Consider them grab-and-go options, or get creative and adapt them to match the style of your conference, client, or company
                </p>
                <a href="#" class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Questions-->
    <!-- <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">Frequently Asked questions</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
      </div>
    </section> -->

    <!--Footer-->
    <footer class="p-5 bg-dark text-white text-center position-relative">
      <div class="container">
        <p class="lead">Copyright &copy; 2022 Maths &copy; Computing</p>
        <a href="#" class="position-absolute bottom-0 end-0 ">
          <i class="fa-sharp fa-solid fa-arrow-up h1"></i>
        </a>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
